html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 350px;
    width: 250px;
    background-color: darkslategrey;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em
}

.result {
    font-size: 2em;
    font-weight: bold;
    height: 2em;
    display: flex;
    padding: 0 .5em;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(125, 255, 210, 0.25);
    color: rgba(125, 255, 210, 0.95);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.buttons {
    display: grid;
    height: 100%;
    gap: 0.1em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "d7 d8 d9 invert delete"
        "d4 d5 d6 multiply divide"
        "d1 d2 d3 minus equal"
        "reset d0 dot plus equal"
    ;
}

.btn {
    font-size: 1.5em;
    font-weight: bold;
    min-width: 100%;
}