:root {
    --black: rgba(10, 10, 10, 0.95);
    --white: rgba(180, 200, 200, 0.95);
    --purple: rgba(200, 175, 220, 0.9);
    --gray-light: rgba(120, 135, 135, 0.95);
    --gray-mid: rgba(100, 115, 115, 0.95);
    --green-dark: rgba(50, 80, 50, 0.95);
    --green-light: rgba(125, 180, 125, 0.95);
    --green-mint: rgba(175, 220, 200, 0.9);
    --red-light: rgb(180, 125, 125, 0.95);
}

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 350px;
    width: 250px;
    background-color: var(--gray-light);
    box-sizing: border-box;
    border: 1px outset;
    border-radius: 1em;
    box-shadow:
        0 0 1px 1px var(--black),
        inset 0 0 2px 2px var(--white);
    ;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em
}

.result {
    position: relative;
    font-size: 1.75em;
    line-height: 1em;
    box-sizing: border-box;
    border: 2px inset var(--black);
    font-weight: bold;
    height: 2.5em;
    display: flex;
    padding: 0 .5em;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--white);
    color: var(--black);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.currentValue {
    font-size: 1em;
}

.previousValue,
.mathSign {
    position: absolute;
    color: var(--gray-mid);
    left: 0.6em;
    font-size: 0.6em;
}

.previousValue {
    top: 0;
}

.mathSign {
    bottom: 0;
}

.buttons {
    display: grid;
    height: 100%;
    gap: 0.2em;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "d7 d8 d9 invert delete"
        "d4 d5 d6 multiply divide"
        "d1 d2 d3 minus equal"
        "reset d0 dot plus equal"
    ;
}

.btn {
    font-size: 1.5em;
    font-weight: bold;
    min-width: 100%;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: .25em;
    background-color: var(--white);
    transition: all 100ms;
}

.btn:hover {
    box-shadow:
        inset 0 0 1em 1px var(--gray-light),
        0 0 1px 1px var(--gray-mid);
}

.btn:active {
    box-shadow:
        inset 0 0 1em 2px var(--green-dark),
        0 0 4px 1px var(--gray-mid);
}

.sign {
    background-color: var(--green-mint);
}

.sign.dot {
    background-color: var(--white);
}

.delete,
.invert {
    background-color: var(--purple);
}

.reset {
    background-color: var(--red-light);
}

.equal {
    background-color: var(--green-light);
}